@charset "utf-8";

/* body font 적용 */
body{
    font-family: "Pretendard Std Variable", "Pretendard Std", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 180%;
    font-weight: 600;
    letter-spacing: -0.05em;
    color: #000000;
}
/* em color 클래스 */
.em{
    color: #0046FF;
}

/* ------------------- */
/* 메인 슬라이드 오토 컨트롤버튼 중앙정렬 */
.bx-controls-auto .bx-controls-auto-item{
    /* 플랙스 */
    display: flex;
    align-items: center;
}
/* .bx-controls-auto 슬라이드 start/stop버튼 */
.bx-start{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/main/playBtn.png) no-repeat center;
}
.bx-stop{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/main/pause.png) no-repeat center;
}


/* ================= */
/* article */
/* ================= */
article.w1440{
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 30px 0;
    /* 플랙스 */
    display: flex;
    justify-content: space-between;
}
.mainArticle{
    /* (1256/1720)*100 = 73.0232558139535 */
    width: 73.0232558139535%;
}

/* 박스 슬라이드 이미지 */
.mainSlider div a{
    height: 600px;
    display: block;
    border-radius: 16px 16px 0 0;
    background-color: #ebf3fc;
    /* 포지션 기준값 */
    position: relative;
    z-index: 100; /* 박스 슬라이드 이미지의 앵커태그 */
    overflow: hidden;
}

.mainSlider img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 포지션 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* 박스 슬라이드 이미지 */
}
.mainSlider #item01 img{
    max-width:fit-content;
    width: fit-content;
    top: 193px;
    left: -60px;
}

.mainSlider #item02 img{
    object-fit:none;
    top: 90px;
    left: 320px;
}
.mainSlider #item02 a{
    background-color: #D9D9D9;
}

/* 메인 슬라이더 텍스트 스타일 */
.mainSlider div a span{
    font-weight: 800;
    /* 36/16 = 2.25 */
    font-size: 2.25rem;
    /* text-shadow: #FFFFFF 0 0 0; */
    /* 포지션 */
    position: absolute;
    top: 24%;
    left: 8%;
    z-index: 2; /* 박스 슬라이드 텍스트 */
}
.mainSlider div a p:first-child{
    /* 20/16 = 1.25 */
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.mainSlider div a p:last-child{
    margin-top: 20px;
    /* 24/16 = 1.5 */
    font-size: 1.5rem;
    line-height: 1.2;
    opacity: 0.8;
}
/* -------------------- */
/* 메인 슬라이더 컨트롤 스타일 */
.mainArticle .slider_wrap .bx-wrapper{
    /* 포지션 기준값 */
    position: relative;
}
.mainArticle .slider_wrap .bx-controls{
    padding: 10px;
    /* 플랙스 */
    display: flex;
    flex-flow: row-reverse;
    /* justify-content: space-between; */
    /* 포지션 */
    position: absolute;
    left: 30px;
    bottom: 20px;
    z-index: 101; /* 박스 슬라이드 컨트롤 */
}
.mainArticle .slider_wrap .bx-controls-direction{
    display: none;
}
/* 메인 슬라이더 컨트롤 버튼 스타일 */
.mainArticle .slider_wrap .bx-pager{
    /* 플랙스 */
    display: flex;
    align-items: center;
}
.mainArticle .slider_wrap .bx-pager div{
    margin-right: 10px;
    overflow: hidden;
}
.mainArticle .slider_wrap .bx-pager div a{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #CCCCCC;
    line-height: 45px;
    box-shadow: 0 0 20px 0 rgb(255 255 255 / 0%);
    /* transition */
    transition: all 0.3s;
}
.mainArticle .slider_wrap .bx-pager div:hover a{
    background-color: #999999;
}
.mainArticle .slider_wrap .bx-pager div a.active{
    width: 50px;
    border-radius: 16px;
    background-color: #097DF3;
}

/* -------------- */
.lnbWrap{
    height: 160px;
    background-color: #F6F6F6;
    border-radius: 0 0 16px 16px;
    /* 플랙스 */
    display: flex;
    align-items: center;
}

.lnb_btn{
    /* (212/600)*100 = 35.333333333333336 */
    width: 35.333333333333336%;
    max-width: 212px;
    height: 100%;
}
.lnb_btn label{
    display: block;
    width: 200px;
    height: 50%;
    cursor: pointer;
    background-color: #E7E7E7;
    /* 플랙스 */
    display: flex;
    align-items: center;    
    justify-content: space-around;
}
.lnb_btn label:last-child{
    border-radius: 0 0 16px 16px;
}
.lnb_btn input:checked + label{background-color: #F6F6F6;}
/* 버튼 */
/* .lnb_btn input + label::after{
    content: url(../images/main/double_arrow_gray.png);
    margin-top: 8px;
} */
.lnb_btn input:checked + label::after{
    content:url(../images/main/double_arrow_blue.png);
}
/* input 숨기기 */
.lnb_btn input{
    display: none;
}
.lnbWrap nav{
    width: 100%;
}
.lnb{
    display: none;
}
.lnb.cheack{
    /* 플랙스 */
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
}
.lnb li{
    width: 15%;
}
.lnb a{
    /* 플랙스 */
    display: flex;
    flex-flow: column;
    align-items: center;
}
.lnb a span{
    height: 90px;
    line-height: 90px;
}
.lnb a span img{
    vertical-align: middle;
}
/* -------------- */
/* 화살표 애니메이션 */
.lnb_btn label {
    position: relative;
}
.move_arr img {
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.move_dpnone {
    display: none;
}
.move_arr img:nth-child(1) {
    animation: arrowAni linear 1.5s 0s infinite;
}
.move_arr img:nth-child(2) {
    animation: arrowAni linear 1.5s 0.5s infinite;
}
.move_arr img:nth-child(3) {
    animation: arrowAni linear 1.5s 1s infinite;
}
@keyframes arrowAni {
    from{
        opacity: 1;
        transform: scale(1);
        left: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    to{
        opacity: 0;
        transform: scale(1.2);
        left: 90%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/* -------------- */
/* 차트 슬라이더 */
.chart_wrap{
    width: 100%;
    margin-top: 16px;
    /* 플랙스 */
    display: flex;
    align-items: center;
}
.chartSlider_wrap{
    width: 100%;
    overflow:hidden;
    cursor: pointer;
    /* 플랙스 */
    display: flex;
}
.chartSlider{
    height: 46px;
    /* 플랙스 */
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-color: rgb(255 255 255 / 0%);
}
/* ----------------------- */
/* 차트 슬라이더 버튼 */
.chart_wrap #chart_btn{
    width: 30px;
    cursor: pointer;
}
.chart_wrap .bx-start{
    margin-right: 10px;
}
/* ----------------------- */
/* 차트 슬라이더의 차트별 세부설정 */
.chartSlider dl dt,
.chartSlider dl dd{ 
    display: inline-block;
    padding: 0 5px;
}
.chartSlider dl dd:last-child{
    margin-right: 40px;
    color: #ED3788;
}
.chartSlider dl > *:last-child::before{
    content: url(../images/main/up_arrow.png);
    margin-right: 5px;
}
.chartSlider dl dd.down{
    color: #0046FF;
}
.chartSlider dl dd.down::before{
    content: url(../images/main/down_arrow.png);
    margin-right: 5px;
}
/* ----------------------- */
/* 애니메이션 재생 */
.playAni{
    /* 애니메이션 */
    animation: chart_slider_ani cubic-bezier(0,0,0,0) 25s;
    /* 무한 반복 애니메이션 */
    animation-iteration-count: infinite;
    box-shadow: inset 0 0 20px 0 rgb(255 255 255 / 100%);
}
/* 호버시, 버튼 클릭시 애니메이션 정지 */
.chart_wrap .bx-start + .chartSlider_wrap .chartSlider, 
.chartSlider_wrap:hover .chartSlider{
    animation-play-state: paused;
}
@keyframes chart_slider_ani {
    from { transform:translateX(0) }
    to { transform: translateX(-100%) }
}

/* ----------------------- */
/* snb_content */
.snbArticle{
    /* (398/1720)*100 = 23.13953488372093 */
    width: 24%;
    /* 플렉스 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.snbArticle h2{
    /* 30/16 = 1.875 */
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 15px;
}
.snbArticle h2 strong{
    font-weight: 600;
}
.snbArticle label{
    width: 100%;
    border: 1px solid #0046FF;
    border-radius: 8px;
    padding: 10px 16px 10px 24px;
    box-shadow: 0 4px 3px 0 #D9D9D9;
    /* flex */
    display: flex;
}
.snbArticle label button[type="submit"]{
    cursor: pointer;
}
.snbArticle label button[type="submit"] i{
    color: #757575;
}

.snbArticle h3{
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}
/* 이벤트 슬라이드 배너 */
.snbArticle .area div a{
    width: 100%;
    height: 176px;
    display: block;
    border-radius: 16px;
    background-color: #E1E6EC;
    /* 포지션 기준값 */
    position: relative;
    overflow: hidden;
    z-index: 100; /* 이벤트 슬라이드 앵커 태그 */
}
.snbArticle .area div:nth-child(3) a{
    background-color: #818994;
}

.snbArticle .area img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* -------------------- */
/* 이벤트 박스슬라이드 스타일 */
.snbArticle .bx-wrapper{
    /* 포지션 기준값 */
    position: relative;
}
.snbArticle .bx-controls-direction a{
    padding: 10px;
    /* 포지션 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 101; /* 이벤트 슬라이드 컨트롤 */
}
.snbArticle .bx-controls-direction a:first-child{left: 0;}
.snbArticle .bx-controls-direction a:last-child{right: 0;}

/* 슬라이드 텍스트 오른쪽 상단하단으로 변경 */
.snbArticle .bx-pager{
    /* 포지션 */
    position: absolute;
    bottom: 5px;
    right: 20px;
    z-index: 2; /* 이벤트 슬라이드 인덱스번호 */
}
/* 슬라이드 오토버튼 위치이동 */
.snbArticle .bx-controls-auto{
    /* 포지션 */
    position: absolute;
    bottom: 5px;
    right: 40px;
    z-index: 2; /* 이벤트 슬라이드 오토버튼 */
}
/* 슬라이드 이동버튼 */
.bx-prev::before{
    content: "\f053";
    font-family: "FontAwesome";
}
.bx-next::before{
    content: "\f054";
    font-family: "FontAwesome";
}

#snbArticle_03 h3{
    display: flex;
    justify-content: space-between;
}
#snbArticle_03 h3 a{
    font-size: 0.875rem;
    font-weight: 400;
}

.snbArticle .notice a{
    padding: 12px 0;
    border-bottom: 1px solid #E4E5E8;
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
}
.snbArticle .notice a span{
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ================= */
/* main */
/* ================= */
main{
    padding-bottom: 120px;
}
#content1{
    height: 396px;
    background-color: #EEF1F9;
    text-align: center;
    margin-bottom: 282px;
    padding: 0 30px 0;
    /* 포지션 */
    position: relative;
}
#content1 h2{
    padding-top: 77px;
    margin-bottom: 74px;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.1;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
#content1  .card_wrap{
    padding: 0 30px 0;
    /* 플랙스 */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#content1 .card{
    /* (335/1440)*100 = 23.26388888888889 */
    width: 23.26388888888889%;
}
#content1 .card a{
    display: block;
    height: 319px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #EEF1F9;
    padding: 20px;
    padding-top: 64px;
}
#content1  .card >  a > span{
    width: 80px;
    height: 80px;
    line-height: 80px;
}
#content1  .card >  a > span > img{
    vertical-align: middle;
}
#content1  .card >  a > h3{
    /* 24/16 = 1.5 */
    font-size: 1.5rem;
    margin-top: 36px;
    margin-bottom: 12px;
}
#content1  .card >  a > p{
    color: #999999;
    line-height: 1.5;
}
/* -------------------------- */
/* content2 */
/* -------------------------- */
#content2{
    margin-bottom: 80px;
    padding: 0 30px 0;
    /* 플랙스 */
    display: flex;
}
.chartGraph{
    /* (1020/1440)*100 = 70.83333333333334 */
    width: 70.83333333333334%;
    height: 100%;
    margin-right: 40px;
}
#stock_graph {
    border-radius: 16px;
    background: linear-gradient(#001a44, #6f6b9f);   
}

#stock_graph .highcharts-grid-line{
    stroke: #687aa5;
}
#stock_graph .highcharts-point{
    fill: #ED3738;
    stroke: #ED3738;
}
#stock_graph .highcharts-point-down{
    fill: #0046FF;
    stroke: #0046FF;
}
/* ----------- */
#content2 .right{
    width: 29.166666666666657%;
}
#content2 h2{
    /* 20/16 = 1.25 */
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 20px;
}
#content2 h2 + .card{
    background-color: #FFFFFF;
    border: 1px solid #E4E5E8;
    border-radius: 16px;
}
/* reward card */
#content2 .reward{
    margin-bottom: 20px;
    padding: 30px;
}
#content2 .reward p{
    /* 20/16 = 1.25 */
    font-size: 1.25rem;
    margin-bottom: 30px;
}
#content2 .reward p .em{
    font-weight: 600;
}
#content2 .reward a{
    width: 100%;
    display: block;
    padding: 17px;
    text-align: center;
    border-radius: 16px;
    background-color: #0046FF;
    color: #fff;
}
/* question card */
#content2 .question a{
    padding: 24px;
    /* 플랙스 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content2 .question img{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
#content2 .question span img{
    margin-right: 10px;
}
/* -------------------------- */
/* content3 */
/* -------------------------- */
#content3{
    margin-bottom: 120px;
    padding: 0 30px 0;
    /* 플랙스 */
    display: flex;
    justify-content: space-between;
}
#content3 h2{
    /* 20/16 = 1.25 */
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
#content3 h2 a{
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
    font-weight: 400;
    margin-right: 25px;
}
#content3 > div{
    width: 100%;
    /* background-color: #ED3788; */
}
#content3 > div:first-child{
    /* (45.94/1440)*100 = 3.1902777777777773 */
    margin-right: 2%;
}
#content3 table{
    width: 100%;
    border-top:1px solid #CCCCCC;
    border-collapse: collapse;
}
#content3 th{
    color: #3C3C3C;
    /* 14/16 = 0.875 */
    font-size: 0.875rem;
    padding: 7px;
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #E4E5E8;
}
#content3 td{
    color: #181818;
    font-weight: 500;
    padding: 10px;
    border-bottom:1px solid #E4E5E8;
}
#content3 td a{
    display: inline-block;
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
#content3 td a:hover{
    color: #0046FF;
    text-decoration: underline;
}

#content3 td:nth-child(1){
    padding-left: 22px;
    text-align: start;
    width: 200px;
    overflow: hidden;
}

#content3 td:nth-child(even){
    text-align: end;
}
#content3 td:nth-child(3){
    text-align: center;
}
#content3 td:nth-child(3) span::after{
    content: "%";
}
#content3 td:nth-child(3) span{
    display: inline-block;
    width: 100%;
    padding: 4px;
    background-color: #ED3738;
    color: #FFFFFF;
    border-radius: 4px;
}
#content3 td:nth-child(3) span.down{
    background-color: #097DF3;
}

.table tbody tr td:last-child {
    text-align: right;
}

/* -------------------------- */
/* banner */
/* -------------------------- */
#banner_wapper{
    padding: 0 30px 0;
}
.banner{
    height: 180px;
    color: #fff;
    background-color: #0046FF;
    border-radius: 16px; 
    padding: 0 60px;
    /* 플랙스 */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner h2{
    /* 26/16 = 1.625 */
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.5;
}
.banner p{
    font-size: 1rem;
    font-weight: 400;
    color: #CCCCCC;
}
.bannerLink{
    display: inline-block;
    padding: 11px 60px;
    /* 20/16 = 1.25 */
    font-size: 1.25rem;
    border: 1px solid #fff;
    border-radius: 30px; 
}